target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
keystore.p12
application-mysql.properties
*.sql
*.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.log
